@page
@model IndexModel
@{
    ViewData["Title"] = "Create an Account";
}

<h2>Account Creation</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="AC.Username"></label>
        <input asp-for="AC.Username" class="form-control" required />
        <span asp-validation-for="AC.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AC.Password"></label>
        <input asp-for="AC.Password" type="password" class="form-control" required />
        <span asp-validation-for="AC.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AC.RePassword"></label>
        <input asp-for="AC.RePassword" type="password" class="form-control" required />
        <span asp-validation-for="AC.RePassword" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="AC.Contact"></label>
        <input asp-for="AC.Contact" type="password" class="form-control" required />
        <span asp-validation-for="AC.Contact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AC.SecurityQ"></label>
        <input asp-for="AC.SecurityQ" type="password" class="form-control" required />
        <span asp-validation-for="AC.SecurityQ" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

