@page
@model IndexModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>ResetPassword</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="RP.Username"></label>
        <input asp-for="RP.Username" class="form-control" required />
        <span asp-validation-for="RP.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RP.Password"></label>
        <input asp-for="RP.Password" type="password" class="form-control" required />
        <span asp-validation-for="RP.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RP.NewPassword"></label>
        <input asp-for="RP.NewPassword" type="password" class="form-control" required />
        <span asp-validation-for="RP.NewPassword" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="RP.Contact"></label>
        <input asp-for="RP.Contact" type="password" class="form-control" required />
        <span asp-validation-for="RP.Contact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RP.SecurityQ"></label>
        <input asp-for="RP.SecurityQ" type="password" class="form-control" required />
        <span asp-validation-for="RP.SecurityQ" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

